.button {
    position: fixed;
    top: 1%;
    right: 1%;
}

.background {
    background-color: gray;
}

.arm {
    cursor: pointer;
}

.show {
    display: none;
}

.name:hover, .arm:hover {
    color: red;
}
